@font-face {
  font-family: fantasy;
  src: url(resources/Norse-Bold.otf.ttf);
}
body {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(resources/halie-west-25xggax4bSA-unsplash.jpg);
  background-size:contain;
  font-family: "Big Shoulders Display";
}

a {
  text-decoration: none;
  color: #596d48;
}

button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  text-align: center;
  color: white;
  background-color: #596d48;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  box-shadow: #e5e7eb;
}

input {
  border-color: #e5e7eb;
  border-radius: 2px;
  
}

 input:active {
    border: blue;
    box-shadow: subtle;
} 

.form {
  background-color: #e5e7eb;
  height: 100vh;
  width: 65%;
  display: flex;
  overflow: hidden;
  justify-content: right;
  padding: 20px;
  padding-top: 10px;
  float: right;
}

.input-div {
  /* text-transform: uppercase; */
  font-size: small;
  background-color: #fff;
   width: 100%; 
  margin-left: 0;
  

}

.input{
  display:inline-flex;
  flex-wrap:inherit;
  width: 20%;
  padding: 10px;
  border: 0.5px solid;
  border-radius: 3px;
  height: 2px;
}

.input:focus{
  border:  blue solid;
}
/* .logo {
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-image {
  width: 50px;
  align-items: center;
  color: #e5e7eb;
}

span{
  color: #e5e7eb;
  font-weight: 700;
  font-size:larger;
  align-items: center;
  position: relative;
} */